<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/aboutus.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
    <!-- --------------------------------------------------header----------------------------------- -->
    <header id="header">

        <a href="#" class="logo"><img src="img/logo.png" alt=""></a>

        <nav id="para">
            <ul class="menu">
                <li><a href="/">home</a></li>
                <li><a href="/admission">admission</a></li>
                <li><a href="/aboutus" class="active">About Us</a></li>
                <li><a href="/fee">fee submit</a></li>
                <li><a href="/notice">notice</a></li>
            </ul>
        </nav>
        <i class="uil uil-bars" id="btn" onclick="toggleHide()"></i>
    </header>
    <!-- --------------------------------------------------------about---------------------------------- -->
    <div class="about" id="about">

        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
                <img src="img/aboutus3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="img/aboutus2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item"data-bs-interval="2000">
                <img src=" img/aboutus1.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <h1>College Overview</h1><br>
        <div class="contant">
            <p>Aravali College of Engineering and Management was founded in the year 2008 with a vision to become one of
                the finest institution in the country, in the field of technical education and research; through
                focused, effective and sustained efforts and programmes. The main aim of the institute is to provide
                excellent quality technical and managerial education not only to the students from Delhi/NCR region but
                also from all over the world.</p><br>

            <p> It is promoted by a visionary educationist, Mr. Dhan Singh Bhadana, who is also the Chairman of the
                Aravali Eduworld which includes a boquet of international schools namely as Aravali International
                School, Aravali College of Engineering and Management, Aravali Institute of Competitive Studies &
                Aravali College of Advanced Studies in Education. A part of his vision is to impart education to needy
                and economically poorer sections to facilitate their participation and development in the society, for
                this various awards and schemes are being offered by the college.</p><br>

            <p> Mr. Bhadana's vision is to provide students with quality education, enable them to succeed and excel in
                their chosen fields of career progression, and thereby stand apart as distinguished examples of superior
                education. ACEM is committed to impart quality education that transforms students into responsible
                self-reliant and confident citizens of the future. Diversity and inclusion in all of its forms are
                appreciated and celebrated at Aravali.</p>
        </div>
    </div>
    <!-- ----------------------------------footer----------------------------------- -->
    <section id="footer">

        <h1>&copy; copyright 2021 <span>Aman choudhary</span></h1>

    </section>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="js/js.js"></script>
</body>

</html>