<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fee submit</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="css/fee.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
</head>
<body>

    <header id="header">

        <a href="#" class="logo"><img src="img/logo.png" alt=""></a>

        <nav id="para">
            <ul class="menu">
              <li><a href="/" >home</a></li>
                <li><a href="/admission">admission</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/fee" class="active">fee submit</a></li>
                <li><a href="/notice">notice</a></li>
            </ul>
        </nav>
        <i class="uil uil-bars" id="btn" onclick="toggleHide()"></i>
    </header>
     
    <div class="fee">
        <div class="image">
            <h1>
                Online Fee Payment instruction
            </h1>
        </div>

        <p>
           1. Insert the Roll no of the student.</p><br>

           <p>2. Please ensure that the Roll no. inserted, name of the students & amount are correct.</p><br>

           <p>3. Once satisfied that the details are correct click on the make payment button.</p><br>

          <p> 4. The payment gateway will give you options of selecting payment mode through credit, debit or net banking.</p><br>

          <p> 5. You have to select the mode and further enter details and make the payment.
        </p><br>

       <h3> Charges for online payment are as follows.</h3><br>
 	
       <p>Credit Cards of MasterCard and Visa : 1.10% + service tax </p><br>
 	
       <p>Debit Cards of MasterCard and Visa  :  For transaction value less than INR 2000;
 	 	0.75% + service tax For transaction value more than INR 2000; 1% + service tax </p><br>
 	
       <p>Net Banking (for fee collection) : INR 17 + service tax </p><br><br><br>

       <div class="procees"><a href="https://www.acem.edu.in/pay.php">proceed</a></div>

    </div>
         <!-- ----------------------------------footer----------------------------------- -->
         <section id="footer">

            <h1>&copy; copyright 2021 <span>Aman choudhary</span></h1>
            
            </section>
            <script src="js/js.js"></script>
   




</body>
</html>