<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aravali College of Engineering and Management</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
    <!-- -------------------------------------------------------header------------------------------------------------------ -->
    <header id="header">

        <a href="#" class="logo"><img src="img/logo.png" alt=""></a>

        <nav id="para">
            <ul class="menu">
                <li><a href="/" class="active">home</a></li>
                <li><a href="/admission">admission</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/fee">fee submit</a></li>
                <li><a href="/notice">notice</a></li>
            </ul>
        </nav>
        <i class="uil uil-bars" id="btn" onclick="toggleHide()"></i>
    </header>
    <!-- --------------------------------------------------------------home----------------------------------------------------- -->
    <section id="home" class="container-fluid">

        <div class="row align-items-center min-vh-100 content">
            <h1>Aravali</h1>
            <h1> College of</h1>
            <h1>Engineering </h1>
            <h1>and Management</h1>

            <a href="#course"><button> enroll now >></button></a>
            <div class="icons">
                <a href="https://www.facebook.com/aravalicollegefaridabad/"target="_blank"><i class="uil uil-facebook"></i></a>
                <a href="https://twitter.com/acem2008"target="_blank"><i class="uil uil-twitter"></i></a>
                <a href="https://instagram.com/aravali_college?utm_medium=copy_link"target="_blank"><i
                        class="uil uil-instagram-alt"></i></a>
                <a href="https://in.linkedin.com/company/aravali-college-of-engineering-and-management"target="_blank"><i
                        class="uil uil-linkedin"></i></a>
            </div>

        </div>

        </div>


    </section>
    <!-- -----------------------------------------------------caurses-------------------------------------------------------- -->
    <section id="course">

        <h1 class="heading">our courses</h1>

        <div class="box-container">

            <div class="box" data-aos="flip-right">

                <img src="img/caurse1.jpg" alt="">
                <h3 class="caurseheading">computer science Engineering</h3>
                <p>Computer Science Engineering is a course that deals with design, implementation, and management of
                    information systems of both software & hardware processes.</p>
            </div>

            <div class="box" data-aos="flip-up">
                <img src="img/caurse2.jpg" alt="">
                <h3 class="caurseheading">mechanical Engineering</h3>
                <p>Mechanical engineering is the study, design, development, construction, and testing of mechanical and
                    thermal sensors and devices, including tools, engines, and machines.</p>
            </div>

            <div class="box" data-aos="flip-left">
                <img src="img/caurse3.jpg" alt="">
                <h3 class="caurseheading">civil Engineering</h3>
                <p>Civil engineering is a professional engineering discipline that deals with the design, construction,
                    and maintenance of the physical and naturally built environment, including public works such as
                    roads, bridges, canals, and railways.</p>
            </div>

            <div class="box" data-aos="flip-right">
                <img src="img/caurse4.png" alt="">
                <h3 class="caurseheading">bachelors in computer application</h3>
                <p>One of the most popular options to get started with a career in Information Technology, the course gives you an insight into the world of computers and its applications. </p>
            </div>

            <div class="box" data-aos="flip-down">
                <img src="img/caurse5.jpg" alt="">
                <h3 class="caurseheading">bachelors of business administration</h3>
                <p>BBA is one of the most popular and sought after bachelor degree programmes pursued by students after Class 12. The BBA course is the gateway to a plethora of job opportunities in numerous sectors such as Marketing, Education, Finance</p>
            </div>

            <div class="box" data-aos="flip-up">
                <img src="img/caurse6.jpg" alt="">
                <h3 class="caurseheading">master of business administration</h3>
                <p> a general Management degree designed to educate business students in areas such as Finances, Human Resources, Marketing, Strategy, and Operations Management.</p>
            </div>

        </div>

    </section>
    <!-- ---------------------------------------------------service section ------------------------------------------------ -->
    <section id="service">

        <h1 class="heading">welcome to aravali</h1>

        <div class="box-container">

            <div class="box" data-aos="flip-down">
                <img src="img/offer1.jpeg" alt="">
                <div class="info">
                    <h2>ADMISSIONS OPEN-2021</h2>
                    <p>At Aravali we not only teach through textbooks but also give practical knowledge of the corporate
                        world. The industry academia interface helps the students to succeed in all walks of life.</p>
                </div>
            </div>


            <div class="box" data-aos="flip-up">
                <img src="img/offer2.jpeg" alt="">
                <div class="info">
                    <h2>PLACEMENTS 2020-21</h2>
                    <p>Practical and hands-on exposure to business and industry are inherent components of both the
                        undergraduate and postgraduate students at Aravali College of Engineering & Management</p>
                </div>
            </div>

            <div class="box" data-aos="flip-left">
                <img src="img/offer3.jpeg" alt="">
                <div class="info">
                    <h2>STUDENT LMS</h2>
                    <p>The student learning management system helps the instructor deliver study material to the
                        students,
                        assignments and track student records.</p>
                </div>
            </div>

        </div>

    </section>

    <!-- --------------------------------------------------------testimonial------------------------------------------------ -->
    <section id="testimonial">

        <h1 class="heading">what our students says</h1>

        <div class="box-container">

            <div class="box" data-aos="flip-down">
                <img src="img/student1.jpg" alt="">
                <div class="info">
                    <p><i class="fas fa-quote-left"></i>“The faculty and staff at aravali are very supportive. My
                        experience here has been really wonderful. The students here are very friendly too. acem is a
                        very student-friendly environment.”</p>
                    <h2>kunal prajapati</h2>
                </div>
            </div>

            <div class="box" data-aos="flip-right">
                <img src="img/student2.jpeg" alt="">
                <div class="info">
                    <p>“acem has been a home of wide-open opportunities for me since I got here. aravali is a family
                        where parents and friends are all around you.”</p>
                    <h2>naveen sharma</h2>
                </div>
            </div>

            <div class="box" data-aos="flip-left">
                <img src="img/student3.jpg" alt="">
                <div class="info">
                    <p>“The faculty and staff at aravali are very supportive. My experience here has been really
                        wonderful. The students here are very friendly too. acem is a very student-friendly
                        environment.”</p>
                    <h2>Aman kuntal</h2>
                </div>
            </div>

            <div class="box" data-aos="flip-right">
                <img src="img/student4.jpeg" alt="">
                <div class="info">
                    <p>“acem has been a home of wide-open opportunities for me since I got here. aravali is a family
                        where parents and friends are all around you.”<i class="fas fa-quote-right"></i></p>
                    <h2>jatin rawat</h2>
                </div>
            </div>

        </div>

    </section>
    <!-- ------------------------------------------------------------------contact ---------------------------------------------- -->
    <section id="contact" class="container-fluid">

        <h1 class="heading">any quary</h1>

        <form action="/" method="POST">

            <div class="inputBox">
                <input type="text" name="name" required>
                <h3>full name</h3>
            </div>

            <div class="inputBox">
                <input type="email" name="email" required>
                <h3>e-mail</h3>
            </div>

            <div class="inputBox">
                <input name="phone" type="number" required>
                <h3>phone</h3>
            </div>

            <div class="inputBox">
                <textarea name="message" id="" cols="30" rows="10" required></textarea>
                <h3>message</h3>
            </div>

            <div class="inputBox">
                <input type="submit" >
            </div>
            <p id="done">
                {{done}}
            </p>


        </form>


    </section>
    <!-- ---------------------------------------------------------------footer------------------------------------------------ -->
    <section id="footer">

        <h1>&copy; copyright 2021 <span>Aman choudhary</span></h1>

    </section>

    <!-- -------------------------------------------------------------javascript---------------------------------------------- -->
    <script src="js/js.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            delay: 500
        });
    </script>
</body>

</html>