<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notices</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="css/notice.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro&display=swap"
        rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
    </head>

<body>
    <!-- ----------------------------------header--------------------------------------- -->
    <header id="header">

        <a href="#" class="logo"><img src="img/logo.png" alt=""></a>

        <nav id="para">
            <ul class="menu">
             <li><a href="/">home</a></li>
                <li><a href="/admission">admission</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/fee">fee submit</a></li>
                <li><a href="/notice" class="active">notice</a></li>
            </ul>
        </nav>
        <i class="uil uil-bars" id="btn" onclick="toggleHide()"></i>
    </header>
    <!-- ---------------------------------------------notice------------------------------- -->
    <div id="notice">
        <h2>NOTICE BOARD</h2>
        <div class="boxcontainer">
            <div class="notices notice-open">
                <div class="noticehead">
                    <i class="uil uil-angle-down"></i>
                    <h3>Notice reg. Academic Planning and Time Table Committee Meeting</h3>
                    <p>23-06-2021</p>
                </div>
                <div class="noticecontant">
                    <p>A meeting of Academic Planning and Time Table Committee will be held on 22nd June online at 1.00
                        to discuss and finalize the work load and teachers requirement for various departments for the
                        Odd Semester 2021.</p>
                </div>
            </div>
            <div class="notices notice-close">
                <div class="noticehead">
                    <i class="uil uil-angle-down"></i>
                    <h3>Notice regarding to Supervise MBA Students 2021-22</h3>
                    <p>13-06-2021</p>
                </div>
                <div class="noticecontant">
                    <p>In view of order ref No. F.2/07/2020/pt file-III/432 dated 05.06.2021 of the Delhi Disaster Management Authority (DDMA), Government of NCT of Delhi, the University shall adhere to the following:</p><br>

                       <p> 1. All the Officers of the rank of Section Officer and above or equivalent including Incharges of Sections shall attend the office on all working days.</p><br>
                       <p>
                        2. The Section Officers and/In-Charge of Section shall prepare a duty roster of the staff of the respective sections in such a way that the work of the Section shall not suffer and social distancing be maintained to prevent the spread of COVID-19.</p> <br>
                        
                      <p> 3. The Heads of Department / Faculty / Units shall call any staff as per requirement on all working day for smooth functioning of the concerned Department / Faculty / Unit.</p> <br>

                       <p> 4. The duty roster of the PS/SPA/PA shall be prepared and administered by the concerned officers.</p> 

                       <p> 5. The staffs unable to attend the office as per duty roster due to personal reasons may have to apply suitable leave.</p> <br>
                        
                       <p> 6. All the precautions/measures proposed in the guidelines issued by the MHA/DDMA/MOHFW from time to time shall be strictly followed.</p> <br>
                        
                       <p> This is issued with the approval of the Competent Authority of the University.</p>
                </div>
            </div>
            <div class="notices notice-close">
                <div class="noticehead">
                    <i class="uil uil-angle-down"></i>
                    <h3>World No Tobacco Day Pledge</h3>
                    <p>23-05-2021</p>
                </div>
                <div class="noticecontant">
                    <p>In pursuance of Ministry of Health & Family Welfare Department of Health & Family Welfare DO.No.P16016/01/2021-TC dated 24th May, 2021, World No Tobacco Day pledge, all teaching and non-teaching staff are hereby requested to take part in the World No Tobacco Day pledge' in the Amphitheatre on 31.05.2021 at 4.00 PM.</p>
                </div>
            </div>
            <div class="notices notice-close">
                <div class="noticehead">
                    <i class="uil uil-angle-down"></i>
                    <h3>Information for Annual Report</h3>
                    <p>23-06-2021</p>
                </div>
                <div class="noticecontant">
                    <p>All the teachers are requested to provide the following information to be included in the annual report of the College for the academic year 2020-21</p><br>

                        <p> 1. Individual Academic achievements during the year 2020-21.</p><br>
                        
                        <p> 2. Report of their Department Activities during the year 2020-21.</p><br>
                        
                        <p> 3. Report of the activities of the Committees/Societies, You are convener for the year 2020-21</p><br>
                        
                        <p> Please provide the desired information by 31st May 2021 along with 5 Photographs of events, if any.
                        
                        Kindly mail at poonamguptadsc@gmail.com.</p>
                </div>
            </div>
            <div class="notices notice-close">
                <div class="noticehead">
                    <i class="uil uil-angle-down"></i>
                    <h3>Notice for work load submission </h3>
                    <p>13-05-2021</p>
                </div>
                <div class="noticecontant">
                    <p>All the Teachers In charge of various departments are requested to submit class wise and teacher wise work load for the 2nd, 4th and 6th semester latest by 30th November 2020 so that teachers' requirement and time table for the upcoming semesters may be finalized.</p>

                      <p> Please email the work load to convenor Academic Planning Committee at: - poonamguptadsc@gmail.com</p>
                </div>
            </div>
            <div class="notices notice-close">
                <div class="noticehead">
                    <i class="uil uil-angle-down"></i>
                    <h3>Notice reg. Academic Planning and Time Table Committee Meeting</h3>
                    <p>23-04-2021</p>
                </div>
                <div class="noticecontant">
                    <p>A meeting of Academic Planning and Time Table Committee will be held on 22nd June online at 1.00
                        to discuss and finalize the work load and teachers requirement for various departments for the
                        Odd Semester 2021.</p>
                </div>
            </div>
            <div class="notices notice-close">
                <div class="noticehead">
                    <i class="uil uil-angle-down"></i>
                    <h3>Revised Weekly Duty Roster of Non‐teaching staff w.e.f. 12.10.2020</h3>
                    <p>13-04-2021</p>
                </div>
                <div class="noticecontant">
                    <p>A meeting of Academic Planning and Time Table Committee will be held on 22nd June online at 1.00
                        to discuss and finalize the work load and teachers requirement for various departments for the
                        Odd Semester 2021.</p>
                </div>
            </div>
            <div class="notices notice-close">
                <div class="noticehead">
                    <i class="uil uil-angle-down"></i>
                    <h3>Notice Regarding to nominate faculty for the online workshop on Research Methodology </h3>
                    <p>23-03-2021</p>
                </div>
                <div class="noticecontant">
                    <p>A meeting of Academic Planning and Time Table Committee will be held on 22nd June online at 1.00
                        to discuss and finalize the work load and teachers requirement for various departments for the
                        Odd Semester 2021.</p>
                </div>
            </div>
            <div class="notices notice-close">
                <div class="noticehead">
                    <i class="uil uil-angle-down"></i>
                    <h3>Notice regarding to Supervise MBA Students 2021-22</h3>
                    <p>13-06-2021</p>
                </div>
                <div class="noticecontant">
                    <p>In view of order ref No. F.2/07/2020/pt file-III/432 dated 05.06.2021 of the Delhi Disaster Management Authority (DDMA), Government of NCT of Delhi, the University shall adhere to the following:</p><br>

                       <p> 1. All the Officers of the rank of Section Officer and above or equivalent including Incharges of Sections shall attend the office on all working days.</p><br>
                       <p>
                        2. The Section Officers and/In-Charge of Section shall prepare a duty roster of the staff of the respective sections in such a way that the work of the Section shall not suffer and social distancing be maintained to prevent the spread of COVID-19.</p> <br>
                        
                      <p> 3. The Heads of Department / Faculty / Units shall call any staff as per requirement on all working day for smooth functioning of the concerned Department / Faculty / Unit.</p> <br>

                       <p> 4. The duty roster of the PS/SPA/PA shall be prepared and administered by the concerned officers.</p> 

                       <p> 5. The staffs unable to attend the office as per duty roster due to personal reasons may have to apply suitable leave.</p> <br>
                        
                       <p> 6. All the precautions/measures proposed in the guidelines issued by the MHA/DDMA/MOHFW from time to time shall be strictly followed.</p> <br>
                        
                       <p> This is issued with the approval of the Competent Authority of the University.</p>
                </div>
            </div>
            <div class="notices notice-close">
                <div class="noticehead">
                    <i class="uil uil-angle-down"></i>
                    <h3>World No Tobacco Day Pledge</h3>
                    <p>23-05-2021</p>
                </div>
                <div class="noticecontant">
                    <p>In pursuance of Ministry of Health & Family Welfare Department of Health & Family Welfare DO.No.P16016/01/2021-TC dated 24th May, 2021, World No Tobacco Day pledge, all teaching and non-teaching staff are hereby requested to take part in the World No Tobacco Day pledge' in the Amphitheatre on 31.05.2021 at 4.00 PM.</p>
                </div>
            </div>
            <div class="notices notice-close">
                <div class="noticehead">
                    <i class="uil uil-angle-down"></i>
                    <h3>Information for Annual Report</h3>
                    <p>23-06-2021</p>
                </div>
                <div class="noticecontant">
                    <p>All the teachers are requested to provide the following information to be included in the annual report of the College for the academic year 2020-21</p><br>

                        <p> 1. Individual Academic achievements during the year 2020-21.</p><br>
                        
                        <p> 2. Report of their Department Activities during the year 2020-21.</p><br>
                        
                        <p> 3. Report of the activities of the Committees/Societies, You are convener for the year 2020-21</p><br>
                        
                        <p> Please provide the desired information by 31st May 2021 along with 5 Photographs of events, if any.
                        
                        Kindly mail at poonamguptadsc@gmail.com.</p>
                </div>
            </div>
            <div class="notices notice-close">
                <div class="noticehead">
                    <i class="uil uil-angle-down"></i>
                    <h3>Notice for work load submission </h3>
                    <p>13-05-2021</p>
                </div>
                <div class="noticecontant">
                    <p>All the Teachers In charge of various departments are requested to submit class wise and teacher wise work load for the 2nd, 4th and 6th semester latest by 30th November 2020 so that teachers' requirement and time table for the upcoming semesters may be finalized.</p>

                      <p> Please email the work load to convenor Academic Planning Committee at: - poonamguptadsc@gmail.com</p>
                </div>
            </div>
            <div class="notices notice-close">
                <div class="noticehead">
                    <i class="uil uil-angle-down"></i>
                    <h3>Notice reg. Academic Planning and Time Table Committee Meeting</h3>
                    <p>23-04-2021</p>
                </div>
                <div class="noticecontant">
                    <p>A meeting of Academic Planning and Time Table Committee will be held on 22nd June online at 1.00
                        to discuss and finalize the work load and teachers requirement for various departments for the
                        Odd Semester 2021.</p>
                </div>
            </div>
            <div class="notices notice-close">
                <div class="noticehead">
                    <i class="uil uil-angle-down"></i>
                    <h3>Revised Weekly Duty Roster of Non‐teaching staff w.e.f. 12.10.2020</h3>
                    <p>13-04-2021</p>
                </div>
                <div class="noticecontant">
                    <p>A meeting of Academic Planning and Time Table Committee will be held on 22nd June online at 1.00
                        to discuss and finalize the work load and teachers requirement for various departments for the
                        Odd Semester 2021.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------------footer----------------------------------- -->
    <section id="footer">

        <h1>&copy; copyright 2021 <span>Aman choudhary</span></h1>
        
        </section>
    <script src="js/notice.js"></script>
    <script src="js/js.js"></script>
</body>


</html>