<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admission form submitted</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="css/submit.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
    <header id="header">

        <a href="#" class="logo"><img src="img/logo.png" alt=""></a>

        <nav id="para">
            <ul class="menu">
                 <li><a href="/">home</a></li>
                <li><a href="/admission" class="active">admission</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/fee">fee submit</a></li>
                <li><a href="/notice">notice</a></li>
            </ul>
        </nav>
        <i class="uil uil-bars" id="btn" onclick="toggleHide()"></i>
    </header>
    <div class="submit">
        <div class="container">
            <img src="img/submit.png" alt="" srcset="">
              <p>congratulation {{namedb}}, your admission form have been submitted successfully we will contact you within 3-4 working days </p>
        </div>
    </div>
 <!-- ----------------------------------footer----------------------------------- -->
 <section id="footer">

    <h1>&copy; copyright 2021 <span>Aman choudhary</span></h1>
    
    </section>
    <script src="js/js.js"></script>

</body>

</html>